body {
    margin: auto;
}

div#container {
    border: solid;
    display: block;
    background-color: #114388;
    margin: 100px;
}

h1 {
    text-align: center
}

div.main-feature {
    display: block;
    text-align: center;
    height: 200px;
    background-color: white;
    border: solid black 10px;
    /*width: 50%; */
    margin: 10px 303px;
}